.print-btn {
    text-align: center;
    padding: 20px 0;

    .btn-primary {
        padding: 10px 50px;
        font-weight: 700;
    }
}


.printThis {

    background-color: #ffffff;
    padding: 20px;
    // CTRL#

    h2 {
        color: #000000;
        font-size: 1.5em;
    }

    h6 {
        padding: 5px;
        color: #000000;
    }

    .ctrl-number {
        text-align: right;

        .ctrl_underline {
            width: 100px;
            border-bottom: 2px solid #000000;
            -webkit-writing-mode: vertical-rl;
        }
    }
    // LOGOS
    .logo-fca-kph {
        display: flex;

        .the-logos {
            flex: 1;
            text-align: center;
            
            img {
                width: 300px;
                height: 90px;
                object-fit: contain;
            }

            
        }

        .kph-logs img {
            height: 100px;
        }
    }
    // NAME,ADD,POSITION,DEPT.
    .emp-acc-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        line-height: 1px;

        .acc-dt {
            margin: 10px 0;
            display: flex;
            align-items: center;

            .acc-txt {
                margin-right:10px;
                color: #000000;
                font-size: 1.2em;
            }
            .acc-input {
                flex: 1;
            
                input {
                    border: none;
                    width: 90%;
                    border-bottom: 2px solid #000000;
                    font-size: 1.2em;
                    background-color: #ffffff;
                }
            }
        }
    }
    // THE FORM
    .the-form {

            h6 {
                text-align: center;
                border: 1px solid #000;
                margin: 0;
            }

            .w-border th, .w-border td {
                border: 1px solid #000000!important;
            }

            .table th, .table td {
                border: 1px solid #000000;
            }

            .table-bordered thead th, .table-bordered thead td {
                text-align: center;
                font-weight: 500;
            }
            
            .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
                display: block;
                // opacity: 1;
                // font-size: 16px;
                background: no-repeat 100%/100% 100%;
            }
        
            .table-bordered {
                border: 1px solid #000;
            }
        
            .table th, .table td {
                padding: 0.25rem;
            }
        
            .checkbox {
                display: inline-block;
                cursor: pointer;
                margin-right:10px;
                line-height:18px;
                vertical-align: middle;
            }
            
            input[type=checkbox] {
                display:none;
            }
            .checkbox:before {
                content:"";
                display: inline-block;
                width: 24px;
                height: 24px;
                vertical-align:middle;
                color: #f3f3f3;
                text-align: center;
                /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
                border: 3px solid #0168AF;
                top:-3px;
            }
            .checkbox.pl:before {
            
                background-color: #ffffff;
            
            }
            
            input[type=checkbox]:checked + .checkbox:before {
                content:"\2713";
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                font-size: 38px;
                color: #01c561;
            }
        
            .the-form-grid .table-bordered thead tr th p {
                margin-bottom: 0px!important;
                font-weight: 700;
            }

            .the-form-grid .table-bordered tbody tr td input {
                border: none;
                display: flex;
                width: 100%;
            }

            #printed-article tr th{
                background-color: #cccccc!important;
            }

        }

       
        
        // System Acess
        .sys-access {

            .the-form-grid .table-bordered {
                border: 0;
            }
            
            .table-bordered td, .table-bordered th {
                border: 0;
            }

            .table-bordered thead tr th {
                text-align: left;
            }
        }

        .the-border {
            border: 1px solid #000000;
        }

        // virified-by 
        .virified-by {
            margin-top: 30px;

          .table-bordered {  
              border: none;

              tbody tr td p strong {
                  font-weight: 700;
              }
          }

          .table-bordered td {
                vertical-align: middle;
                text-align: center;
                font-style: italic;
                border: none;
            }

            .table-bordered td hr {
                width: 100%;
                height: 1px;
                fill: #000;
                background: #000;
                border-top: 1px solid #000;
            }
        }

        .sign-over-name {
            text-align: center;
            color: #000000;
            font-size: 1.2em;
        }

        

}




@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
     }
	input[type=checkbox], .custom-control-label { display: none; }
    input[type=checkbox]:checked ~ div { display: block; }
    
    .table-bordered th, .table-bordered td {
        border: 1px solid #000000;
    }

    .table th, .table td {
        border: 1px solid #000000;
    }
    // #printed-article tr th{
    //     background-color: #cccccc!important;
    // }
}