html, body {
    background-color: #eee;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    // height: 100vh;
    margin: 0;
}

// .container {
//     width: 1280px;
// }

.callouts-container {
    clear: both;

    .sidebar {
        float: left;
        width: 260px;
        margin-right: 20px;
        box-sizing: border-box;
        position: fixed;
        background-size: contain;
        background-attachment: fixed;
        background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),url(https://pbs.twimg.com/media/C5av3QbWMAQahzV.jpg) no-repeat 43% 37%;
        top:0;
        overflow-y:scroll;
        overflow-x:hidden;
        height: 100%;
        left: 0px;
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        transition: all 500ms linear;

            ul li {
                color:#333;
                list-style: none;
                padding: 5px 20px;

                ul li {
                    padding: 10px 0;

                    a {
                        padding: 5px;
                        
                        .f-box .fl-item-icon {
                            margin: auto;
                        }
                    }
                }

                a, .toggle-btn-menu {
                    display: block;
                    padding: 10px;
                    border-radius: 2px;
                    margin: auto;
                    color: #ffffff;
                    cursor: pointer;
                    
                    &:hover {
                        text-decoration: none;
                        background: #ddd;
                        color: #00408e;
                        transition: all .3s ease-in;
                    }

                    .f-box {
                        display: grid;
                        grid-template-columns: 25% 75%;
                        
                        
                        .fl-item-icon {
                            margin: 0;
                        }

                        .fl-item-text {
                            margin: auto 0;

                            i {
                                float: right;
                                top: 5px;
                                position: relative;
                                right: 5px;
                            }
                        }
                    }
                }
                ul.hidebtn {
                    display: none;
                }

            }

        }

        .sidebar.active {
            left: -260px;
        }


    .right-content {
        float: left;
        width: 100%;
        padding: 80px 80px 80px 300px;
        box-sizing: border-box;
        transition: all 500ms linear;
    }
    .right-content.active {
        padding: 80px;
    }
}

.table-title {
    position: relative;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    width: 250px;
    height: 100%;
  }
  .select-styled {
    position: absolute; 
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00408e;
    padding: 6px 15px;
    @include transition(all 0.2s ease-in);
    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }
    &:hover {
      background-color: darken(#00408e, 2);
    }
    &:active, &.active {
      background-color: darken(#00408e, 5);
      &:after {
        top: 9px;
        border-color: transparent transparent #ffffff transparent;
      }
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken(#00408e, 5);
    li {
      margin: 0;
      padding: 6px 0;
      text-indent: 15px;
      border-top: 1px solid darken(#00408e, 10);
      @include transition(all 0.15s ease-in);
      &:hover {
        color: #00408e;
        background: #ffffff;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }





// html, body {
//     background-color: #fff;
//     color: #636b6f;
//     font-family: 'Nunito', sans-serif;
//     font-weight: 200;
//     height: 100vh;
//     margin: 0;
// }

// .full-height {
//     height: 100vh;
// }

// .flex-center {
//     align-items: center;
//     display: flex;
//     justify-content: center;
// }

// .position-ref {
//     position: relative;
// }

// .top-right {
//     position: absolute;
//     right: 10px;
//     top: 18px;
// }

// .content {
//     text-align: center;
// }

// .title {
//     font-size: 84px;
// }

// .links > a {
//     color: #636b6f;
//     padding: 0 25px;
//     font-size: 13px;
//     font-weight: 600;
//     letter-spacing: .1rem;
//     text-decoration: none;
//     text-transform: uppercase;
// }

// .m-b-md {
//     margin-bottom: 30px;
// }