#emp-edit-profile {
    display: none;
}

.emp-edit-form + .emp-form .emp-input-style{
    pointer-events: none;
    
    input, select {
        color: #aaa;
        transition: .3s ease;
    }

    input:disabled {
        background: transparent;
        color:#aaa;
        border: transparent;
        border-bottom: 1px solid #aaa;
        border-radius: 0;
    }
}

.emp-edit-form:checked + .emp-form .emp-input-style{
    pointer-events: visible;

    input, select {
        transition: .3s ease;
        cursor: pointer;
        color: #000000;
        border: 1px solid #aaa;
        border-radius: 5px;
        appearance: auto;
    }

    input:disabled {
        background: transparent;
        color:#aaa;
        border: transparent;
        border-bottom: 1px solid #aaa;
        border-radius: 0;
    }
}

.employee-container {
    width: 90%;
    margin: 0 auto;
}

.emp-prof-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column-reverse;
}

.emp-img {
    box-sizing: border-box;
    position: relative;
}

.emp-profile {
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

    .auto-fit {
        
        .emp-input-style {

            input, select {
                border:0;
                border-radius: 0;
                border-bottom: 1px solid #aaa;
                appearance: none;
            }

            .media-file-upload {
                display: flex;
                
                a {
                    flex: none;
                }

                span {
                    display: flex;
                }
            }
        }

        .file-upload-img {
                display: flex;
                flex-direction: column-reverse;
        }
    }

    .emp-edit-form + .emp-form .emp-form-btn-cont {
        display: flex;
        flex-direction: row-reverse;
        gap: 1em;

        .emp-form-update {
            display: none;
            animation: hides .3s forwards;
        }

        .emp-form-edit .edit {
            cursor: pointer;
            background: #0fb36f;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem;
            border: 2px solid #0fb36f;
            border-radius: 0.5rem;
            top: 0.4em;
            position: relative;
            box-shadow: 0 0.2em #1baf65, 0 0.5em rgba(14, 178, 63, 0.4);
            transition: .3s ease;

            &:hover {
                background: #0fb36f;
                transition: .3s ease;
                top: 0.6em;
                color: #ffffff;
                box-shadow: 0 0.1em #1baf65, 0 0.3em rgba(14, 178, 63, 0.4);
              }
        }

        .emp-form-cancel {
            display: none;
            animation: hides .3s forwards;
        }
    }


    // BUTTON FORM CHECKED
    .emp-edit-form:checked + .emp-form .emp-form-btn-cont {
        display: flex;
        flex-direction: row-reverse;
        gap: 1em;

        .emp-form-update {
            display: block;
            animation: shows .3s forwards;

            .update {
                cursor: pointer;
                background: #0e79b2;
                color: #ffffff;
                font-family: "Montserrat", sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0.5rem;
                border: 2px solid hsl(201, 85%, 38%);
                border-radius: 0.5rem;
                top: 0.4em;
                position: relative;
                box-shadow: 0 0.2em #1b7baf, 0 0.5em rgba(14, 121, 178, 0.4);
                transition: .3s ease;
                
    
                &:hover {
                    background: #0e79b2;
                    transition: .3s ease;
                    top: 0.6em;
                    color: #ffffff;
                    box-shadow: 0 0.1em #1b7baf, 0 0.3em rgba(14, 121, 178, 0.4);
                  }
            }
        }

        .emp-form-edit {
            display: none;
            animation: hides .3s forwards;
        }

        .emp-form-cancel {
            display: block;
            animation: shows .3s forwards;

            .cancel {
                cursor: pointer;
                background: #b30f0f;
                color: #ffffff;
                font-family: "Montserrat", sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0.5rem;
                border: 2px solid #b30f0f;
                border-radius: 0.5rem;
                top: 0.4em;
                position: relative;
                box-shadow: 0 0.2em #af1b2f, 0 0.5em rgba(178, 14, 41, 0.4);
                transition: .3s ease;
                

                &:hover {
                    background: #b30f0f;
                    transition: .3s ease;
                    top: 0.6em;
                    color: #ffffff;
                    box-shadow: 0 0.1em #af1b2f, 0 0.3em rgba(178, 14, 41, 0.4);
                }
            }
        }
    }

    .emp-cover-img {
        position: relative;
        top: -100px;
        text-align: center;
        margin-bottom: -90px;

        img {
            width: 200px;
            height: auto;
            border-radius: 100%;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.15);
        }
    }

    .emp-text-content {
        text-align: center;

        .emp-follow {
            cursor: pointer;
            background: #9720a7;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem;
            border: 2px solid hsl(290, 68%, 39%);
            border-radius: 0.5rem;
            top: 0.4em;
            position: relative;
            box-shadow: 0 0.2em #901a9b, 0 0.5em rgba(178, 14, 156, 0.445);
            transition: .3s ease;

            &:hover {
                background: hsl(293, 68%, 39%);
                transition: .3s ease;
                top: 0.6em;
                color: #ffffff;
                box-shadow: 0 0.1em #901a9b, 0 0.3em rgba(178, 14, 156, 0.4);
            }
        }
    }
}

.tbl-lst, .dev-tbl-lst, .stk-tbl-lst {
    

    tr {
        
        td {
            vertical-align: 0;
            

            img {
                width: 50px;
                border-radius: 100%;
            }
        }
    }

    &:nth-child(even) {
        background-color: #f8fbfc!important;
    }

   
}

.modalImport {
    display: none;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: 2s ease;

    .modal-content {
        width: 50%;
        height: 600px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 5px 8px 0 rgba($color: #000000, $alpha: 0.2),
                    0 7px 20px 0 rgba($color: #000000, $alpha: 0.2);
        overflow: scroll;


        .closeModalBtn {
            color: #cccccc;
            float: right;
            font-size: 30px;
        }
        
        .closeModalBtn:hover, .closeModalBtn:focus {
            color: red;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

// MODAL

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    background: rgba($color: #000000, $alpha: 0.7);
    pointer-events: auto;
  }
  .modal-window > div {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    padding: 2em;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }

  .selectedImage {
      border: 0px;
      text-overflow: ellipsis;
  }

  .clickMe {
     cursor: pointer;
  }

  // CK BTN
  #toggle-tblempv {
        display: none;
  }
  
  .tog-label {
      text-align: right;
  }
 
//   .fa-th:hover:before {
//       content: 'text';
//       position: relative;
//   }

 // EMPLOYEE TABLE VIEW
  .empCont {
    
    .emp-card {
        display: flex;

        p {
            margin: auto 0;
        }
    }

    .emp-view:nth-of-type(odd) {
        background-color: #ffffff;
    }

    // .emp-view {
    //     // margin: auto;
    // }
    
    a {
        text-decoration: none;
    }

    img {
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
  }


  
  input:checked + .empCont{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1em;

      .emp-card {
        display: block;

        p {
            margin: 0;
        }
    }

      .emp-view {
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #00408e;
        background: #eeeeee;
        padding: 10px;
        border-radius: 10%;
        text-align: center;
    
        &:hover {
            opacity: 1;
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
            background: #fff;
        }
    
        a {
            text-decoration: none;
        }
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
      }
  }

  @keyframes hides {
        from {display: block; opacity: 1;}
        to {display: none; opacity: 0;}
  }

  @keyframes shows {
      from {display:none; opacity: 0;}
      to{display: block; opacity: 1;}
  }

  @media (min-width: 900px) {
    .emp-prof-container {
        display: flex;
        gap: 2em;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 50px;
    }

  }
  
  

