.emp-prof-banner {
    position: relative;

    img {
        width: 100%;
        height: 350px;
        background-size: cover;
    }
}

.emp-img {
    box-sizing: border-box;
    position: relative;

    img {
        top: -40px;
        position: absolute;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #999;
        background-color: #fff;
        object-fit: cover;
        width: 100%;
        border-radius: 1px;
    }
}

.emp-profile {
    position: relative;
    top: -170px;
    bottom: 170px;
}

.emp-tbl-lst {
    tr {

        td {
            vertical-align: 0;

            img {
                width: 50px;
                border-radius: 100%;
            }
        }
    }
}