.emp-prof-banner {
    position: relative;

    img {
        width: 100%;
        height: 350px;
        background-size: cover;
    }
}

.emp-img {
    box-sizing: border-box;
    position: relative;

    img {
        top: -40px;
        position: absolute;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #999;
        background-color: #fff;
        object-fit: cover;
        width: 100%;
        border-radius: 1px;
    }
}

.emp-profile {
    position: relative;
    top: -170px;
    bottom: 170px;
    margin-bottom: -100px;
}

.emp-tbl-lst {
    

    tr {
        
        td {
            vertical-align: 0;
            

            img {
                width: 50px;
                border-radius: 100%;
            }
        }
    }

    &:nth-child(even) {
        background-color: #f8fbfc!important;
    }

   
}

.modalImport {
    display: none;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: 2s ease;

    .modal-content {
        width: 50%;
        height: 600px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 5px 8px 0 rgba($color: #000000, $alpha: 0.2), 0 7px 20px 0 rgba($color: #000000, $alpha: 0.2);
        overflow: scroll;


        .closeModalBtn {
            color: #cccccc;
            float: right;
            font-size: 30px;
        }
        
        .closeModalBtn:hover, .closeModalBtn:focus {
            color: red;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

