.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    align-items: start;
    box-sizing: border-box;
}

.auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-gap: 1em;
}

.grid {
    display: grid;
    grid-gap: 1em;
    box-sizing: border-box;
}

.grid-no-gap {
    display: grid;
    box-sizing: border-box;
}

.twofr1 {
    grid-template-columns: 2fr 1fr;
}

.onefr2fr1 {
    grid-template-columns: 1fr 2fr 1fr;
}

.repeat3 {
    grid-template-columns: repeat(3, 1fr);
}

.repeat4 {
    grid-template-columns: repeat(4, 1fr);
}

.repeat5 {
    grid-template-columns: repeat(5, 1fr);
}

.repeat6 {
    grid-template-columns: repeat(6, 1fr);
}

.repeat7 {
    grid-template-columns: repeat(7, 1fr);
}

.repeat8 {
    grid-template-columns: repeat(8, 1fr);
}

.repeat9 {
    grid-template-columns: repeat(9, 1fr);
}

.repeat10 {
    grid-template-columns: repeat(10, 1fr);
}


.align-items-start {
    align-items: start;
}

.border-box {
    box-sizing: border-box;
}
.grid-1em-gap {
    grid-column-gap: 1em;
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gap-03em {
    grid-gap: .3em;
}

.gap-05em {
    grid-gap: .5em;
}

.gap-1em {
    grid-gap: 1em;
}

.gap-2em {
    grid-gap: 2em;
}

.gap-3em {
    grid-gap: 3em;
}