.right-content-fluid {
    float: left;
    width: 100%;
    padding-left: 260px;
    box-sizing: border-box;
    transition: all 500ms linear;
}
.right-content-fluid.active {
    padding-left: 0px;
}