.right-content-fluid {
    float: left;
    width: 100%;
    padding-left: 260px;
    box-sizing: border-box;
    transition: all 500ms linear;
}
.right-content-fluid.active {
    padding-left: 0px;
}

.emp-prof-banner {
    position: relative;

    img {
        width: 100%;
        height: 350px;
        background-size: cover;
    }
}

.emp-profile {
    position: relative;
    top: -170px;
    bottom: 170px;
}